<mat-card>
  <mat-card-title>
    Inserir departamento
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" >
      <div class="input-group" >
        <mat-form-field >
          <input
          formControlName="name"
          matInput
          placeholder="nome"
        />
        </mat-form-field>
        <mat-form-field >
          <input
          formControlName="isVulnerable"
          matInput
          type="number"
          placeholder="vulnerabilidade"
      />


        </mat-form-field>

        <mat-form-field >
          <input
              formControlName="isFar"
              matInput
              type="number"
              placeholder="distancia"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="isPregnent"
              matInput
              type="number"
              placeholder="gravidez"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="fullHour"
              matInput
              type="number"
              placeholder="cargaHoraria"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="identity"
              matInput
              type="number"
              placeholder="Identidade"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="inattendance"
              matInput
              type="number"
              placeholder="Insassiduidade"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="apaty"
              matInput
              type="number"
              placeholder="Apatia"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="familyProblems"
              matInput
              type="number"
              placeholder="familiares"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="notLearning"
              matInput
              type="number"
              placeholder="defasagem"
            />
        </mat-form-field>
      </div>
    </form>
    <mat-card-actions>
      <div class="mt" >
        <button class="mr-4" mat-stroked-button (click)="clear()">
          Clear
        </button>
        <button mat-flat-button color="primary" (click)="save()" >
          Inserir
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

