.sidenav-container {
  height: 100%;
}

img {
  width: 70px;
  height: 90px;
}

#image {
  display: flex;
  justify-content: center;
}
.sidenav {
  width: 200px;
  background-color: #372d5c;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn {
  width: 90%;
  margin-top: 15%;
  background-color: transparent;
  margin-left: 5%;
  color: white;
}


.menu {
  background-color: #372d5c;
  height: 10%;
}

.end {
  margin-left: 50%;
}
