<div class="up">
  <div class="text-title">
    <h1>Evasão</h1>
  </div>
  <div class="button-group">
    <button mat-raised-button (click)="addButton()">
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
  </div>
</div>
<div class="container">

  <div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h1 class="Title-card">
            Vulnerabilidades
              em
            departamentos</h1>
        </div>
        <div class="flip-card-back">
          <p class="card-about-data">DAIC</p>
          <p class="card-about-data">DCM</p>
          <p class="card-about-data">DVD</p>
          <p class="card-about-data">MP4</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h1 class="Title-card">Vulnerabilidades nos campus</h1>
        </div>
        <div class="flip-card-back">
          <p class="card-about-data">DAIC</p>
          <p class="card-about-data" >DCM</p>
          <p class="card-about-data" >DVD</p>
          <p class="card-about-data">MP4</p>
        </div>
      </div>
    </div>
  </div>




</div>


<div class="table">

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->

    <ng-container matColumnDef="apaty">
      <th mat-header-cell *matHeaderCellDef> apaty. </th>
      <td mat-cell *matCellDef="let element"> {{element.apaty* 0.11113}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="familyProblems">
      <th mat-header-cell *matHeaderCellDef> familyProblems </th>
      <td mat-cell *matCellDef="let element"> {{element.familyProblems* 0.44448}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fullHour">
      <th mat-header-cell *matHeaderCellDef> fullHour </th>
      <td mat-cell *matCellDef="let element"> {{element.fullHour*0.44448}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="identity">
      <th mat-header-cell *matHeaderCellDef> identity </th>
      <td mat-cell *matCellDef="let element"> {{element.identity*0.11111}} </td>
    </ng-container>

    <ng-container matColumnDef="inattendance">
      <th mat-header-cell *matHeaderCellDef> inattendance </th>
      <td mat-cell *matCellDef="let element"> {{element.inattendance*0.22224}} </td>
    </ng-container>

    <ng-container matColumnDef="isFar">
      <th mat-header-cell *matHeaderCellDef> isFar </th>
      <td mat-cell *matCellDef="let element"> {{element.isFar*0.11111}} </td>
    </ng-container>

    <ng-container matColumnDef="isPregnent">
      <th mat-header-cell *matHeaderCellDef> isPregnent </th>
      <td mat-cell *matCellDef="let element"> {{element.isPregnent*0.22224}} </td>
    </ng-container>

    <ng-container matColumnDef="isVulnerable">
      <th mat-header-cell *matHeaderCellDef> isVulnerable </th>
      <td mat-cell *matCellDef="let element"> {{element.isVulnerable * 0.22224}} </td>
    </ng-container>
    <ng-container matColumnDef="notLearning">
      <th mat-header-cell *matHeaderCellDef> notLearning </th>
      <td mat-cell *matCellDef="let element"> {{element.notLearning * 0.11111}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button class="button" (click)="deleteDepartment(element)">
          <mat-icon>
            highlight_off
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getIdFromTable(row.id)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
