<mat-card>
  <mat-card-title>
    Inserir departamento
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" >
      <div class="input-group" >
        <mat-form-field >
          <input
              formControlName="nome"
              matInput
              placeholder="nome"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="sigla"
              matInput
              placeholder="sigla"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="campus"
              matInput
              placeholder="campus"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="cursos"
              matInput
              placeholder="cursos"
            />
        </mat-form-field>
        <mat-form-field >
          <input
              formControlName="usuarios"
              matInput
              placeholder="usuarios"
            />
        </mat-form-field>
      </div>
    </form>
    <mat-card-actions>
      <div class="mt" >
        <button class="mr-4" mat-stroked-button  (click)="clear()">
          Clear
        </button>
        <button mat-flat-button color="primary" (click)="save()">
          Inserir
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
